<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528054193879-4vmgtl8u5a7fkeb7pupjbqkjbkloaa36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528054193879-4vmgtl8u5a7fkeb7pupjbqkjbkloaa36</string>
	<key>API_KEY</key>
	<string>AIzaSyD1c-6_inN3Kf9xGJMXF2JXDcXQdEN916Y</string>
	<key>GCM_SENDER_ID</key>
	<string>528054193879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.troxxa.Callerid</string>
	<key>PROJECT_ID</key>
	<string>callerid-a5243</string>
	<key>STORAGE_BUCKET</key>
	<string>callerid-a5243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528054193879:ios:8c9bce2b7011135a1daa92</string>
	<key>DATABASE_URL</key>
	<string>https://callerid-a5243-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>